<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>destination</key>
    <string>export</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>Apple Distribution</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>moe.neri.hinatago</key>
        <string>HINATA CI App Store moe.neri.hinatago</string>
        <key>moe.neri.hinatago.ArcadeLink</key>
        <string>HINATA CI App Store moe.neri.hinatago.ArcadeLink</string>
    </dict>
    <key>teamID</key>
    <string>XKKMJBTHX5</string>
    <key>manageAppVersionAndBuildNumber</key>
    <false/>
    <key>uploadSymbols</key>
    <true/>
</dict>
</plist>
